* {
  background-color: #fafdff
}

.patientInfoContainer {
  border-radius: 8px;
  margin: 20px;
  text-align: center;
  background: #6CB4EE;
  color: white;
  font-size: 30px;
  font-weight: 100px;
  font-style: italic;
  height: 100%;
}

.patientName {
  color: white;
  background-color: #6CB4EE;
  padding: 5px;
  margin: 5px;
}

.patientPhoneNumber {
  color: white;
  background-color: #6CB4EE;
  padding: 5px;
  margin: 5px;
}